*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #07cbf7;
    text-align: center;

   
    
}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
}

.mainBox{
    height:62vh;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:1rem;
}

.box{
    height:60vmin;
    width:60vmin;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.buttons{
    background-color: #ff5eb7;
    color:#b6f874;
    height:18vmin; 
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 0.28rem rgb(0, 0, 0, 0.8);
    font-size: 13vmin;
    cursor: pointer;
    
}

.buttons:hover{
    background-color: #ff35a4;
}

.reset{
    height:2.5rem;
    width:8rem;
    border-radius: 2rem;
    background-color: #ffbd42;
    font-size:1rem;
    border: none;
    font-weight: bold;
    box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
    margin-top:1.2rem;
    margin-bottom:2.5rem;
    cursor: pointer;
}

.reset:hover{
    background-color: #ffab10;
}

.after{
    margin: 8rem;
}

.new{
    height:3rem;
    width:12rem;
    border-radius: 2rem;
    background-color: #ffbd42;
    font-size:1.4rem;
    border: none;
    font-weight: bold;
    box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
    margin-top:1.2rem;
    cursor: pointer;

}
.new:hover{
    background-color: #ffb11f;

}

.winpara{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    color:white;
    font-weight: bold;
    margin-bottom:2rem;
}

.hide{
    display: none;
}

.cross{
    cursor: crosshair;
}

/* ----------------------responsive */


@media screen and (max-width: 600px ) {
    
    .heading{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4.2rem;
        padding-top: 1.5rem;
        font-weight: bolder;
    };

    .mainBox{
        height:86vh;
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top:1rem;
    }
    .box{
        height:84vmin;
        width:84vmin;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        flex-wrap: wrap;   
    } 
    .buttons{
        background-color: #ff6fd6;
        color:#ffffff;
        height:25vmin; 
        width:25vmin;
        border-radius: 1rem;
        border:none;
        box-shadow: 0 0 0.28rem rgb(0, 0, 0, 0.8);
        font-size: 21vmin;
        cursor: pointer;     
    }


    .reset{
        height:3.7rem;
        width:11rem;
        border-radius: 2rem;
        background-color: #ffbd42;
        font-size:1.4rem;
        border: none;
        font-weight: bold;
        box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
        margin-top:1.2rem;
        margin-bottom:2.5rem;
        cursor: pointer;
    }
    
    .winpara{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.2rem;
        color:white;
        font-weight: bold;
        margin-bottom:2rem;
        display: inline-block;
        padding-bottom:2rem;
    }
     
    .after{
        margin: 0;
        padding-top: 10rem;
    
    }

    .new{
        height:3.7rem;
        width:11rem;
        border-radius: 2rem;
        background-color: #ffbd42;
        font-size:1.4rem;
        border: none;
        font-weight: bold;
        box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
        margin-top:1.2rem;
        cursor: pointer;
    
    }
    body{
        background-color: #44d3f4;
        text-align: center;
    
       
        
    }
}