*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #07cbf7;
    text-align: center;

   
    
}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
}

.mainBox{
    height:62vh;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:1rem;
}

.box{
    height:60vmin;
    width:60vmin;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.buttons{
    background-color: #ff5eb7;
    color:#b6f874;
    height:18vmin; 
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 0.28rem rgb(0, 0, 0, 0.8);
    font-size: 13vmin;
    cursor: pointer;
    
}

.buttons:hover{
    background-color: #ff35a4;
}

.reset{
    height:2.5rem;
    width:8rem;
    border-radius: 2rem;
    background-color: #ffbd42;
    font-size:1rem;
    border: none;
    font-weight: bold;
    box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
    margin-top:1.2rem;
    margin-bottom:2.5rem;
    cursor: pointer;
}

.reset:hover{
    background-color: #ffab10;
}

.after{
    margin: 8rem;
}

.new{
    height:3rem;
    width:12rem;
    border-radius: 2rem;
    background-color: #ffbd42;
    font-size:1.4rem;
    border: none;
    font-weight: bold;
    box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
    margin-top:1.2rem;
    cursor: pointer;

}
.new:hover{
    background-color: #ffb11f;

}

.winpara{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    color:white;
    font-weight: bold;
    margin-bottom:2rem;
}

.hide{
    display: none;
}

.cross{
    cursor: crosshair;
}

/* ----------------------responsive */

.dark{
    background-image: url(dark2.jpg);
    background-size: cover;
}
.light{
    background-image: url(light1.jpg);
    background-size: cover; 
}

.button1{
    background-color: rgb(101, 101, 101);
    color:white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    height:36px;
    width:175px;
    margin:10px 0px 10px 0px;
    border-radius: 10px;
}
.button1:hover{
    background-color: rgb(26, 165, 234);
}

.button2{
    background-color: rgb(22, 177, 255);
    color:white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    height:36px;
    width:175px;
    margin:0px 10px 10px 0px;
    border-radius: 10px;
}
.button2:hover{
    background-color:rgb(101, 101, 101);
}


.hide{
    display:none;
    
}

.show{
    border-radius: 10px;
    height:35px;
    width:60px;
    font-size:25px;
    background-color: rgb(232, 232, 232);
   
}
.box1{
   display: flex;
   flex-direction: column;
   position:fixed;
   padding:10px;
   
}





@media screen and (max-width: 600px ) {
    
    .heading{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4.2rem;
        padding-top: 1.5rem;
        font-weight: bolder;
    };

    .mainBox{
        height:86vh;
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top:1rem;
    }
    .box{
        height:84vmin;
        width:84vmin;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        flex-wrap: wrap;   
    } 
    .buttons{
        background-color: #ff6fd6;
        color:#ffffff;
        height:25vmin; 
        width:25vmin;
        border-radius: 1rem;
        border:none;
        box-shadow: 0 0 0.28rem rgb(0, 0, 0, 0.8);
        font-size: 21vmin;
        cursor: pointer;     
    }


    .reset{
        height:3.7rem;
        width:11rem;
        border-radius: 2rem;
        background-color: #ffbd42;
        font-size:1.4rem;
        border: none;
        font-weight: bold;
        box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
        margin-top:1.2rem;
        margin-bottom:2.5rem;
        cursor: pointer;
    }
    
    .winpara{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.2rem;
        color:white;
        font-weight: bold;
        margin-bottom:2rem;
        display: inline-block;
        padding-bottom:2rem;
    }
     
    .after{
        margin: 0;
        padding-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .new{
        height:3.7rem;
        width:11rem;
        border-radius: 2rem;
        background-color: #ffbd42;
        font-size:1.4rem;
        border: none;
        font-weight: bold;
        box-shadow:0 0 0.6rem rgb(0, 0, 0, 0.5);
        margin-top:1.2rem;
        cursor: pointer;
    
    }
    body{
        background-color: #44d3f4;
        text-align: center;
    
       
        
    }
    .hide{
        display: none;
    }
    
    .cross{
        cursor: crosshair;
    }
    .light{
        background-image: url(light1.jpg);
        background-size: cover; 
        background-attachment: fixed;
    }

    .dark{
        background-image: url(dark2.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .box1{
        display: flex;
        flex-direction: column;
    }
    .button1{
        background-color: rgb(101, 101, 101);
        color:white; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 9px;
        height:20px;
        width:100px;
        border-radius: 5px;
        padding: 0;
        margin:0.2rem 0.2rem 0rem 0rem ;
    }
    .button2{
        background-color: rgb(22, 177, 255);
        color:white; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 9px;
        height:20px;
        width:100px;
        border-radius: 5px;
        padding: 0;
        margin:0.2rem 0.2rem 0.2rem 0rem ;
    }
    .show{
        border-radius: 10px;
        height:19px;
        width:30px;
        font-size:10.5px;
        background-color: rgb(232, 232, 232);
    }
}

